matplotlib==3.4.1
numpy==1.20.1
opencv-python==4.5.1.48
pandas==1.2.4
Pillow==8.1.2
Pinyin2Hanzi==0.1.1
pygame==2.0.1
pytz==2020.5
PyYAML==5.4.1
scipy==1.6.3
seaborn==0.11.1
torch==1.8.0
torchvision==0.9.0
tqdm @ file:///tmp/build/80754af9/tqdm_1605303662894/work